.MainPage{
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;
    position: relative;

}

.Notes{
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    margin-top: 2rem;
}



