.addButton{
    position: absolute;
    top:15px;
    right: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: none;
}

.inputDiv{
    position: absolute;
    top: 75.93vh;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: black;
    padding: 20px 30px;
    transition: all 4s;
}

.inputNoDiv{
    display: none;
    top: 90vh;
    transition: all 4s;

}

.textInputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: sans-serif;
    height: 90%;
    width: 80%;
    gap: 30px;

}

.input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    width: 100%;
    font-size: 1.25rem;
    outline: none;
    color: white;
}

#inputTitle{
    width: 70%;
}
#inputNote{
    border: solid 1px rgb(255, 255, 255);
    height: 150px;
}
.input::placeholder{
    color: rgb(255, 255, 255);
}

.noteColorPickerContainer, .bgColorPickerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: white;
}


#submit{
    border-radius: 12px;
    background-color: black;
    color: white;
    border: solid 1px;
    font-size: 1rem;
    padding: 5px 20px;
    transition: all 0.25s;
    width: min-content;
}
#submit:hover, #submit:focus, #submit:active{
    background-color: green;
}
